                    <h2>Add a Payee</h2>
<br>
                     <h2>Add Beneficiary</h2>

<form [formGroup]="Beneficiaryinfo">
    <div class="form-group">
        <label for="beneficiaryname">BeneficiaryName:&nbsp;</label>
        <input type="text" class="form" name="beneficiaryname" id="beneficiaryname" formControlName="beneficiaryname">
    </div>
    <div [hidden]="Beneficiaryinfo.controls['beneficiaryname'].valid || Beneficiaryinfo.controls['beneficiaryname'].pristine"
        class="alert-danger">
        <div *ngIf="Beneficiaryinfo.controls['beneficiaryname'].errors?.['required']">
            BeneficiaryName is required
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="beneficiaryaccountnumber">BeneficiaryAccountNumber:&nbsp;</label>
        <input type="number" class="form" name="beneficiaryaccountnumber" id="beneficiaryaccountnumber" formControlName="beneficiaryaccountnumber">
    </div>
    <div [hidden]="Beneficiaryinfo.controls['beneficiaryaccountnumber'].valid || Beneficiaryinfo.controls['beneficiaryaccountnumber'].pristine"
        class="alert-danger">
        <div *ngIf="Beneficiaryinfo.controls['beneficiaryaccountnumber'].errors?.['required']">
            BeneficiaryAccountNumber is required
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="reenteraccountnumber">Re-EnterAccountNumber:&nbsp;</label>
        <input type="number" class="form" name="reenteraccountnumber" id="reenteraccountnumber" formControlName="reenteraccountnumber">
    </div>
    <div [hidden]="Beneficiaryinfo.controls['reenteraccountnumber'].valid || Beneficiaryinfo.controls['reenteraccountnumber'].pristine"
        class="alert-danger">
        <div *ngIf="Beneficiaryinfo.controls['reenteraccountnumber'].errors?.['required']">
            Re-EnterAccountNumber!!!
        </div>
    </div>
    <br>
    <input type="checkbox" name="savebeneficiary" value="savebeneficiary" >Save Beneficiary
    <br>
    <div class="form-group">
        <label for="nickname">NickName:&nbsp;</label>
        <input type="text" class="form" name="nickname" id="nickname" formControlName="nickname">
    </div>
    <br>
    <button type="submit">Save as Beneficiary</button>
    <br>
    <br>
    <br>
    <br>
</form>
    <h2>IMPS PAYMENT</h2>
<form [formGroup]="IMPSpaymentinfo">
    <div class="form-group">
        <label for="fromaccount">FromAccount:&nbsp;</label>
        <input type="number" class="form" name="fromaccount" id="fromaccount" formControlName="fromaccount">
    </div>
    <div [hidden]="IMPSpaymentinfo.controls['fromaccount'].valid || IMPSpaymentinfo.controls['fromaccount'].pristine"
        class="alert-danger">
        <div *ngIf="IMPSpaymentinfo.controls['fromaccount'].errors?.['required']">
            AccountNumber is required.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="Toaccount">ToAccount:&nbsp;</label>
        <input type="number" class="form" name="Toaccount" id="Toaccount" formControlName="Toaccount"><button type="submit">Add New+</button>
    </div>
    <div [hidden]="IMPSpaymentinfo.controls['Toaccount'].valid || IMPSpaymentinfo.controls['Toaccount'].pristine"
    class="alert-danger">
        <div *ngIf="IMPSpaymentinfo.controls['Toaccount'].errors?.['required']">
          AccountNumber is required.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="amount">Amount:&nbsp;</label>
        <input type="text" class="form" name="amount" id="amount" formControlName="amount">
    </div>
    <div [hidden]="IMPSpaymentinfo.controls['amount'].valid || IMPSpaymentinfo.controls['amount'].pristine"
        class="alert-danger">
        <div *ngIf="IMPSpaymentinfo.controls['amount'].errors?.['required']">
            Enter the Amount!!!!.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="recepientmobilenumber">RecepientMobileNumber:&nbsp;</label>
        <input type="text" class="form" name="recepientmobilenumber" id="recepientmobilenumber" formControlName="recepientmobilenumber">
    </div>
    <br>
    <div [hidden]="IMPSpaymentinfo.controls['recepientmobilenumber'].valid || IMPSpaymentinfo.controls['recepientmobilenumber'].pristine"
        class="alert-danger">
        <div *ngIf="IMPSpaymentinfo.controls['recepientmobilenumber'].errors?.['required']">
          Enter the Mobile Number!!!!.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="transactiondate">TransactionDate:&nbsp;</label>
        <input type="date" class="form" name="transactiondate" id="transactiondate" formControlName="transactiondate">
    </div>
    <br>
    <div class="form-group">
        <label for="maturityinstructions">MaturityInstructions:&nbsp;</label>
        <input type="text" class="form" name="maturityinstructions" id="maturityinstructions" formControlName="maturityinstructions">
    </div>
    <br>
    <div class="form-group">
        <label for="remarks">Remarks:&nbsp;</label>
        <input type="text" class="form" name="remarks" id="remarks" formControlName="remarks">
    </div>
    <br>
    <button type="submit">Save</button>&nbsp;&nbsp;<button type="submit">Reset</button>&nbsp;&nbsp;<button type="submit">Save As Template</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">Continue</button>
    <br>
    <br>
    <br>
</form>
<h2>NEFT PAYMENT</h2>
<form [formGroup]="NEFTpaymentinfo">
    <div class="form-group">
        <label for="fromaccount">FromAccount:&nbsp;</label>
        <input type="number" class="form" name="fromaccount" id="fromaccount" formControlName="fromaccount">
    </div>
    <div [hidden]="NEFTpaymentinfo.controls['fromaccount'].valid || NEFTpaymentinfo.controls['fromaccount'].pristine"
          class="alert-danger">
        <div *ngIf="NEFTpaymentinfo.controls['fromaccount'].errors?.['required']">
          AccountNumber is required.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="Toaccount">ToAccount:&nbsp;</label>
        <input type="number" class="form" name="Toaccount" id="Toaccount" formControlName="Toaccount"><button type="submit">Add New+</button>
    </div>
    <div [hidden]="NEFTpaymentinfo.controls['Toaccount'].valid || NEFTpaymentinfo.controls['Toaccount'].pristine"
      class="alert-danger">
       <div *ngIf="NEFTpaymentinfo.controls['Toaccount'].errors?.['required']">
         AccountNumber is required.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="amount">Amount:&nbsp;</label>
        <input type="text" class="form" name="amount" id="amount" formControlName="amount">
    </div>
    <div [hidden]="NEFTpaymentinfo.controls['amount'].valid || NEFTpaymentinfo.controls['amount'].pristine"
     class="alert-danger">
       <div *ngIf="NEFTpaymentinfo.controls['amount'].errors?.['required']">
         Enter the Amount!!!!.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="transactiondate">TransactionDate:&nbsp;</label>
        <input type="date" class="form" name="transactiondate" id="transactiondate" formControlName="transactiondate">
    </div>
    <br>
    <div class="form-group">
        <label for="remarks">Remarks:&nbsp;</label>
        <input type="text" class="form" name="remarks" id="remarks" formControlName="remarks">
    </div>
    <br>
    <div>
        <p>
            Please note:
            <br>

            1.Transaction will be executed on next working day if they are sheduled for Sundays,NationalHolidays,NEFT Holidays(As Declared by RBI).<br>
            2.Timings for NEFT:Monday-Saturday(except 2nd and 4th saturday)6.00AM to 6.30PM.
        </p>
    </div>
    <br>
    <button type="submit">Save</button>&nbsp;&nbsp;<button type="submit">Reset</button>&nbsp;&nbsp;<button type="submit">Save As Template</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">Continue</button>
    <br>
    <br>
    <br>
</form>
<h2>RTGS PAYMENT</h2>
<form [formGroup]="RTGSpaymentinfo">
    <div class="form-group">
        <label for="fromaccount">FromAccount:&nbsp;</label>
        <input type="number" class="form" name="fromaccount" id="fromaccount" formControlName="fromaccount">
    </div>
    <div [hidden]="RTGSpaymentinfo.controls['fromaccount'].valid || RTGSpaymentinfo.controls['fromaccount'].pristine"
        class="alert-danger">
      <div *ngIf="RTGSpaymentinfo.controls['fromaccount'].errors?.['required']">
        AccountNumber is required.
      </div>
    </div>
    <br>
    <div class="form-group">
        <label for="Toaccount">ToAccount:&nbsp;</label>
        <input type="number" class="form" name="Toaccount" id="Toaccount" formControlName="Toaccount"><button type="submit">Add New+</button>
    </div>
    <div [hidden]="RTGSpaymentinfo.controls['Toaccount'].valid || RTGSpaymentinfo.controls['Toaccount'].pristine"
       class="alert-danger">
        <div *ngIf="RTGSpaymentinfo.controls['Toaccount'].errors?.['required']">
          AccountNumber is required.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="amount">Amount:&nbsp;</label>
        <input type="text" class="form" name="amount" id="amount" formControlName="amount">
    </div>
    <br>
    <div [hidden]="RTGSpaymentinfo.controls['amount'].valid || RTGSpaymentinfo.controls['amount'].pristine"
     class="alert-danger">
       <div *ngIf="RTGSpaymentinfo.controls['amount'].errors?.['required']">
         Enter the Amount!!!!.
       </div>
    </div>
    <br>
    <div class="form-group">
        <label for="transactiondate">TransactionDate:&nbsp;</label>
        <input type="date" class="form" name="transactiondate" id="transactiondate" formControlName="transactiondate">
    </div>
    <br>
    <div class="form-group">
        <label for="remarks">Remarks:&nbsp;</label>
        <input type="text" class="form" name="remarks" id="remarks" formControlName="remarks">
    </div>
    <br>
    <br>
    <button type="submit">Save</button>&nbsp;&nbsp;<button type="submit">Reset</button>&nbsp;&nbsp;<button type="submit">Save As Template</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">Continue</button>
    
</form>
