<br>
<div>
    <h4>Create Account</h4><br>
    <form >
        <label for="Title">Title</label> &nbsp;
        <input name="Title" type="text" /><br><br>
      

        <label for="First Name">First name</label>&nbsp;
        <input name="First Name" type="text" /><br><br>
       

        <label for="Middle Name">Middle name</label> &nbsp;
        <input name="Middle Name" type="text" /><br><br>
       

        <label for="Last Name">Last Name</label>&nbsp;
        <input name="Last Name" type="text" /><br><br>
      

        <label for="Fathers Name">Fathers name</label> &nbsp;
        <input name="Fathers Name" type="text" /><br><br>
       

        <label for="Mobile Number">Mobile Number</label>&nbsp;
        <input name="Mobile Number" type="text" /><br><br>
       

        <label for="Email ID">Email ID</label>&nbsp;
        <input name="Email ID" type="email" /><br><br>
       

        <label for="Aadhar Card Number">Aadhar Card Number</label>&nbsp;
        <input name="Aadhar Card Number" type="text" /><br><br>
        

        <label for="Date of birth">Date of birth</label>&nbsp;
        <input name="Date of birth" type="text" /><br><br>
        

        <h1>Residential Address</h1>

        <label for="Address Line1">Enter Address Line1</label>&nbsp;
        <input name="Address Line1" type="text" /><br><br>
       
        

        <label for="Address Line2">Address Line2</label>&nbsp;
        <input name="Address Line2" type="text" /><br><br>
        

        <label for="Landmark">Landmark</label>&nbsp;
        <input name="Landmark" type="text" /><br><br>
        

        <label for="State">State</label>&nbsp;
        <input name="State" type="text" /><br><br>
        

        <label for="City">City</label>&nbsp;
        <input name="City" type="text" /><br><br>
        

        <label for="Date of birth">Date of birth</label>&nbsp;
        <input name="Date of birth" type="text" /><br><br>
       

        <label for="Pincode">Pincode</label>&nbsp;
        <input name="Pincode" type="number" /><br><br>

        <h1> Permanent address</h1>

        <input type="checkbox" name="Permanent Address same as Mailing Address" value="Permanent Address same as Mailing Address" ><br>
        <label for="Address Line 1">Enter Address</label>&nbsp;
        <input name="Address Line" type="text" /><br><br>
        
        

        <label for="Address Line2">Address Line2</label>&nbsp;
        <input name="Address Line2" type="text" /><br><br>
        
        

        <label for="Landmark">Landmark</label>&nbsp;
        <input name="Landmark" type="text" /><br><br>
       
        

        <label for="State">State</label>&nbsp;
        <input name="State" type="text" /><br><br>
       
        

        <label for="City">City</label>&nbsp;
        <input name="City" type="text" /><br><br>
      
        

        <label for="Date of birth">Date of birth</label>&nbsp;
        <input name="Date of birth" type="text" /><br><br>
       

        <label for="Pincode">Pincode</label>&nbsp;
        <input name="Pincode" type="number" /><br><br>
       

        <h2>Occupation Details</h2>
        <label for="Occupation Type">Occupation Type</label>&nbsp;
        <input name="Occupation Type" type="text" /><br><br>
       
        
        
        <label for="Source of Income">Source of Income</label>&nbsp;
        <input name="Source of Income" type="text" /><br><br>
       

        <label for="Gross Annual Income">Gross Annual Income</label>&nbsp;
        <input name="Gross Annual Income" type="text" /><br><br>
       
        <h2>Debit/ATM Card</h2>
        <h2>Do you want a debit card?*</h2>

        <input type="checkbox" name="Opt for Net Banking" value="Opt for Net Banking" ><br>
        <input type="checkbox" name="I agree" value="I agree" ><br>

        <button class="btn btn-primary" type="submit" >Submit</button>
    </form>
</div>

