<br>
<h2>Open an Account</h2>
<p class="double">Open a Savings Account.</p>
<p class="double">Personal Details</p>
<form [formGroup]="Accountinfo"  (ngSubmit)="submitData()">
    <div class="form-group">
        <label for="CustomerId">CustomerId:</label>
        <input type="number"  name="CustomerId" class="form" id="CustomerId" formControlName="CustomerId"/><br>
    </div>
    <div [hidden]="Accountinfo.controls['CustomerId'].valid || Accountinfo.controls['CustomerId'].pristine"
       class="alert-danger">
       <div *ngIf="Accountinfo.controls['CustomerId'].errors?.['required']">
          CustomerId is required!!!
       </div>
    </div>
    <br>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" class="form" id="title" formControlName="title"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for=" firstName">FirstName:</label>
        <input type="text" name="firstName" class="form" id="firstName" formControlName="firstName"/><br>
    </div>
    <div [hidden]="Accountinfo.controls['firstName'].valid || Accountinfo.controls['firstName'].pristine"
        class="alert-danger">
       <div *ngIf="Accountinfo.controls['firstName'].errors?.['required']">
           FirstName is required!!!
       </div>
    </div>
    <br>
    <div class="form-group">
        <label for=" lastName">LastName:</label>
        <input type="text" name="lastName" class="form" id="lastName" formControlName="lastName"/><br>
    </div>
    <div [hidden]="Accountinfo.controls['lastName'].valid || Accountinfo.controls['lastName'].pristine"
       class="alert-danger">
       <div *ngIf="Accountinfo.controls['lastName'].errors?.['required']">
           LastName is required!!!
       </div>
    </div>
    <br>
    <div class="form-group">
        <label for=" middleName">MiddleName:</label>
        <input type="text" name="middleName" class="form" id="middleName" formControlName="middleName"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="mobileno">MobileNumber:</label>
        <input type="number" name="mobileno" class="form" id="mobileno" formControlName="mobileno"/><br>
    </div>
    <div [hidden]="Accountinfo.controls['mobileno'].valid || Accountinfo.controls['mobileno'].pristine"
       class="alert-danger">
       <div *ngIf="Accountinfo.controls['mobileno'].errors?.['required']">
          MobileNumber is required!!!
       </div>
       <div *ngIf="Accountinfo.controls['mobileno'].errors?.['lengtherror']">
        {{Accountinfo.controls['mobileno'].errors?.['lengtherror'].message}}
        current length is: &nbsp; {{Accountinfo.controls['mobileno'].errors?.['mobileno'].currentlength}}
      </div>
    </div>
    <br>
    <div class="form-group">
        <label for="emailId">EmailID:</label>
        <input type="text" name="emailId" class="form" id="emailId" formControlName="emailId"/><br>
    </div>
    <div [hidden]="Accountinfo.controls['emailId'].valid || Accountinfo.controls['emailId'].pristine"
        class="alert-danger">
        <div *ngIf="Accountinfo.controls['emailId'].errors?.['required']">
          EmailID is required!!!
        </div>
        <div *ngIf="Accountinfo.controls['emailId'].errors?.['email']">
            Must be an email id
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for=" aadharCardNumber">AadharCardNumber:</label>
        <input type="number" name="aadharCardNumber" class="form" id="aadharCardNumber" formControlName="aadharCardNumber"/><br>
    </div>
    <div [hidden]="Accountinfo.controls['aadharCardNumber'].valid || Accountinfo.controls['aadharCardNumber'].pristine"
      class="alert-danger">
       <div *ngIf="Accountinfo.controls['aadharCardNumber'].errors?.['required']">
         AadharCardNumber is required!!!
       </div>
    </div>
    <br>
    <div class="form-group">
        <label for="dob">Date Of Birth:</label>
        <input type="date" name="dob" class="form" id="dob" formControlName="dob"/><br>
    </div>
    <br>
    <p>Residential Address<p>
    <div class="form-group">
        <label for="residentialAddressLine1">ResidentialAddressLine 1:</label>
        <input type="text" name="residentialAddressLine1" class="form" id="residentialAddressLine1" formControlName="residentialAddressLine1"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="residentialAddressLine2">ResidentialAddressLine2:</label>
        <input type="text" name="residentialAddressLine2" class="form" id="residentialAddressLine2" formControlName="residentialAddressLine2"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="residentialLandmark">Residential Landmark:</label>
        <input type="text" name="residentialLandmark" class="form" id="residentialLandmark" formControlName="residentialLandmark"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="residentialState">Residential State:</label>
        <input type="text" name="residentialState" class="form" id="residentialState" formControlName="residentialState"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="residentialCity">Residential City:</label>
        <input type="text" name="residentialCity" class="form" id="residentialCity" formControlName="residentialCity"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="residentialPincode">Residential Pincode:</label>
        <input type="number" name="residentialPincode" class="form" id="residentialPincode" formControlName="residentialPincode"/><br>
    </div>
    <br>
    <input type="checkbox" name="Residential Address" value="Residential Address" >Same As Residential Address
    <p>Permanent Address</p>
    <div class="form-group">
        <label for="permanentAddressLine1">Permanent Address Line1:</label>
        <input type="text" name="permanentAddressLine1" class="form" id="permanentAddressLine1" formControlName="permanentAddressLine1"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="permanentAddressLine2">Permanent Address Line2:</label>
        <input type="text" name="permanentAddressLine2" class="form" id="permanentAddressLine2" formControlName="permanentAddressLine2"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="permanentLandmark">Permanent Landmark:</label>
        <input type="text" name="permanentLandmark" class="form" id="permanentLandmark" formControlName="permanentLandmark"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="permanentState">Permanent State:</label>
        <input type="text" name="permanentState" class="form" id="permanentState" formControlName="permanentState"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="permanentCity">Permanent City:</label>
        <input type="text" name="permanentCity" class="form" id="permanentCity" formControlName="permanentCity"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="permanentPincode">Permanent Pincode:</label>
        <input type="number" name="permanentPincode" class="form" id="permanentPincode" formControlName="permanentPincode"/><br>
    </div>
    <br>
    <p>Occupation Details</p>
    <div class="form-group">
        <label for="occupationdetails">Occupation Details:</label>
        <input type="text" name="occupationdetails" class="form" id="occupationdetails" formControlName="occupationdetails"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="occupationType">Occupation Type:</label>
        <input type="text" name="occupationType" class="form" id="occupationType" formControlName="occupationType"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="sourceofincome">Source Of Income:</label>
        <input type="text" name="sourceofincome" class="form" id="sourceofincome" formControlName="sourceofincome"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="grossAnnualIncome">Gross Annual Income:</label>
        <input type="number" name="grossAnnualIncome" class="form" id="grossAnnualIncome" formControlName="grossAnnualIncome"/><br>
    </div>
    <br>
    <div class="form-group">
        <label for="status">Status:</label>
        <input type="text" name="status" class="form" id="status" formControlName="status"/><br>
    </div>
    <br>
    <div id="submitDiv">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>







































































































