<form [formGroup]="Adminform" (ngSubmit)="submitData()">
    <div class="form-group">
        <label for="adminid">AdminId:&nbsp;</label>
        <input type="email" class="form-control" name="adminid" id="adminid" formControlName="adminid">
    </div>
    <div [hidden]="Adminform.controls['adminid'].valid || Adminform.controls['adminid'].pristine"
        class="alert alert-danger">
        <div *ngIf="Adminform.controls['adminid'].errors?.['required']">
            AdminId is required
        </div>
        <div *ngIf="Adminform.controls['adminid'].errors?.['email']">
            AdminId must be an email id
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password:&nbsp;</label>
        <input type="password" class="form-control" name="password" id="password" formControlName="password">
    </div>
    <div [hidden]="Adminform.controls['password'].valid || Adminform.controls['password'].pristine"
        class="alert alert-danger">
        <div *ngIf="loginform.controls['password'].errors?.['required']">
            Password is required
        </div>
    </div>
    <br>
    <br>
    <div id="submitDiv">
        <button type="submit">Submit</button>
    </div>
</form>
